<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="ISO-8859-1">
<title>Cadastro de Atendimentos PETSHOP</title>
</head>
<body>
	<h1>Cadastro de Atendimento</h1>
	<table>
		<form method="POST" th:action="@{/atendimentos/adicionarAtendimento}"
			th:object="${atendimento}">

			<tr>
				<td>Nome do responsavel</td>
				<td><input type="text" th:field="*{pessoa_nome}" /></td>
			</tr>
			<tr>
				<td>Nome Animal</td>
				<td><input type="text" th:field="*{animal_nome}" /></td>
			</tr>
			<tr>
				<td>Raca Animal</td>
				<td><select th:field="*{animal_raca}">
						<option th:each="animalRaca : ${animalRaca}"
							th:value="${animalRaca}" th:utext="${animalRaca}" />
				</select></td>
			</tr>
			<tr>
				<td>Tipo de Atendimento</td>
				<td><select th:field="*{tipoAtendimento}">
						<option th:each="tipoAtendimento : ${tipoAtendimento}"
							th:value="${tipoAtendimento}" th:utext="${tipoAtendimento}" />
				</select></td>
			</tr>
			</table>
			<br>
			<input type="submit" value="Cadastrar"> 


		</form> <input type="button" class="btn btn-dark" value="Pagina Inicial"
		onclick="location.href='/';">
	
	<br>
	<br>
	
</body>
</html>