<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>TRABALHO PETSHOP</h1>

	<p>Deve ser setado no "src/main/resources/aplication.proprieties" o
		banco de dados POSTGRES</p>
	<p>Feito a partir de uma API e requisicoes a ela. Rodando no mesmo
		projeto</p>
	<p>Os pacotes API sao da respectiva, que conecta ao banco, e o
		pacote "network" eh o que faz as requicoes por Retrofit</p>
	<br>
	<br>

	<input type="button" class="btn btn-dark"
		value="Cadastro de Atendimentos" onclick="location.href='/atendimentos/cadastro';">
	<br><br>
	<input type="button" class="btn btn-dark" value="Lista de Atendimentos"
		onclick="location.href='/atendimentos/';">

</body>
</html>